<!DOCTYPE html>
  <html lang="en" class="h-100">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="bg-light">
      <div class="container">
        <%- include('../partials/header'); %>
      </div>
    </header>
    <main class="flex-shrink-0">
      <div class="container">
        <%- body %>
      </div>
    </main>
    <footer class="footer mt-auto">
      <div class="container">
        <%- include('../partials/footer'); %>
      </div>
    </footer>
  </body>
</html>